body {
    font-family:'Poppins', sans-serif;
    margin:0;
    position:relative;
    background:#fbfbfb;
    overflow-x:hidden;
    z-index:9;
}
.nav {
    background:#fbfbfb;
    height:60px;
}
.margined {
    width: 1200px;
    max-width: 96vw;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    height:60px;
    width:70px;
    float:left;
}
.logo > a {
    font-size:24px;
    font-weight:500;
    letter-spacing:2px;
    color:#0096C8;
    line-height:60px;
    text-decoration:none;
    transition:.08s ease all;
}
.logo > a:hover {
    color:#CE181E;
}
.logo img {
    height:60%;
    margin-top:20%;
    image-rendering:smooth;
}
.options {
    float:left;
    height:60px;
    width:calc(100% - 70px);
    position:relative;
}
.options > a {
    font-size:16px;
    font-weight:500;
    color:#0096C8;
    text-decoration:none;
    float:right;
    padding:17px 30px;
    transition:.1s ease all;
    text-transform:uppercase;
    letter-spacing:1px;
    line-height:26px;
}
.options > a:hover {
    color:#fff;
    background:#0096C8;
}
.active-nav {
    color:#fff !important;
    background:#0096C8;
}
.options > button:hover {
    filter:brightness(1.1);
    cursor:pointer;
}
.blue {
    background:#0096C8;
    color:#fff;
}
@media only screen and (max-width: 1000px) {
    .options > a {
        display:none;
    }
    .logo > a {
        margin-left:15px;
    }
}
.dropdown {
    float:right;
    color:#0096C8;
    font-weight:500;
    position:relative;
    cursor:pointer;
    width:150px;
    padding:0;
}
.lower-dropdown {
    width:100%;
    position:absolute;
    left:0;
    margin-top:-200px;
    z-index:-1;
    transition:.3s ease all;
}
.lower-dropdown > a {
    display:block;
    width:calc(100% - 30px);
    text-decoration:none;
    padding:15px 15px;
    background:#fbfbfb;
    color:inherit;
    text-align:left;
    font-size:16px;
    transition:.1s ease all;
    text-transform:uppercase;
}
.dropdown > p {
    transition:.1s ease all;
    cursor:pointer;
    height:100%;
    padding:18px 15px;
    width:calc(100% - 30px);
    margin:0;
    font-size:16px;
    text-transform:uppercase;
    z-index:3;

}
.dropdown > p:hover {
    background:#0096C8;
    color:#fff;
}
.dropdown > p > i {
    float:right;
    line-height:25px;
    margin-right:5px;
}
.lower-dropdown > a:hover {
    background:#85e1ff;
    color:#fff;
}
.clear {
    clear:both;
}
.no-select {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.section-404 {
    background:#0096c8;
    color:#fff;
    text-align:center;
    height:100%;
}
.section-404 h1 {
    color:#fff !important;
    font-size:46px;
    margin-top:5%;
}
.section-404 a {
    color:#fff !important;
    font-size:32px;
    text-decoration:none;
}
.section-404 a:hover {
    text-decoration:underline;
}